<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>350631903954-cdaf1r9l83n0hieq66v1u51hbp0bloca.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.350631903954-cdaf1r9l83n0hieq66v1u51hbp0bloca</string>
	<key>API_KEY</key>
	<string>AIzaSyAqvVUzp_nTeNTPQxKky7Sm-GUmNDecyEg</string>
	<key>GCM_SENDER_ID</key>
	<string>350631903954</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.szijjarto.3096Game</string>
	<key>PROJECT_ID</key>
	<string>blocks-bf066</string>
	<key>STORAGE_BUCKET</key>
	<string>blocks-bf066.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:350631903954:ios:8aa633fc1b44323687630b</string>
</dict>
</plist>