<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>gameState</key>
	<dict>
		<key>gameOverTitle</key>
		<string>Game Over</string>
		<key>gameOverSubtitle</key>
		<string>Score: </string>
		<key>resetGameTitle</key>
		<string>Restart Game?</string>
		<key>resetGameSubtitle</key>
		<string>Your progress will be lost.</string>
	</dict>
	<key>settings</key>
	<dict>
		<key>gameBoardDescription</key>
		<string>Note: Changing this setting will reset your current game.</string>
		<key>gameBoardSize</key>
		<string>Game Board Size</string>
		<key>audio</key>
		<string>Sound Effects</string>
		<key>audioDescription</key>
		<string>Toggle in-game sounds</string>
		<key>haptic</key>
		<string>Haptics</string>
		<key>hapticDescription</key>
		<string>Toggle in-game haptics</string>
	</dict>
	<key>about</key>
	<dict>
		<key>linkDescription</key>
		<string>Created by Skyler Szijjarto</string>
		<key>linkUrl</key>
		<string>https://skyler.media</string>
		<key>copyright</key>
		<string>©2023 Skyler Szijjarto</string>
	</dict>
</dict>
</plist>
