<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>gameState</key>
	<dict>
		<key>gameOverTitle</key>
		<string>Game Over</string>
		<key>gameOverSubtitle</key>
		<string>Score: </string>
		<key>resetGameTitle</key>
		<string>Restart Game?</string>
		<key>resetGameSubtitle</key>
		<string>Your progress will be lost.</string>
	</dict>
	<key>settings</key>
	<dict>
		<key>gameBoardSize</key>
		<string>Game Board Size</string>
		<key>gameBoardDescription</key>
		<string>Note: Changing this setting will reset your current game.</string>
		<key>skinSelector</key>
		<string>j</string>
		<key>skinSelectorDescription</key>
		<string>j</string>
		<key>audio</key>
		<string>Sound Effects</string>
		<key>audioDescription</key>
		<string>Toggle in-game sounds</string>
		<key>haptic</key>
		<string>Haptics</string>
		<key>hapticDescription</key>
		<string>Toggle in-game haptics</string>
	</dict>
	<key>about</key>
	<dict>
		<key>linkDescription</key>
		<string>3096 – Blocks is an exciting and enjoyable variation of the popular game 2048, but with letters (numbers are still an option)! It offers many features that make it stand out from the original game, such as responsive dark mode support, a leaderboard to track your progress, multiple grid sizes to suit your needs, haptics for tactile feedback, customizable sound effects for an immersive experience, an attractive design that draws you in, detailed animations to bring the game to life, and support for iPad (Mac support coming soon). Enjoy three times the fun and challenge yourself to reach the highest score!</string>
		<key>linkUrl</key>
		<string>https://skyler.media</string>
		<key>copyright</key>
		<string>©2023 Skyler Szijjarto</string>
	</dict>
</dict>
</plist>
